.userBadge {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    color: var(--ifm-color-primary);
    border: 1px solid var(--ifm-color-primary);
    border-radius: 20px;
    margin-right: 10px;
    background: rgba(234, 179, 8, 0.1);
}

.userIcon {
    margin-right: 8px;
    font-size: 1.2em;
}

.userName {
    white-space: nowrap;
}